*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #340f1f;
    height: 100vh;
}
.size{
font-size: 2vw;

}
.para{
    font-size: 2vw;
}


.container {
    width: 71vw;
    background-color:  #CEA07E;
    border: 5px solid black;
    height: 25vw;
    margin:auto;
    position: relative;
    top: 6vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 17px;
}
#title{
    margin: 21px 3px;    
        font-size: 4vw;

    }
#input{
    margin: 8px 3px;
    cursor: pointer;
    width: 12vw;
    height:2vw ;
    border-radius:5px ;
    text-align: center;
    font-size: 1vw;
    margin: auto; 
}
#btn{
    cursor: pointer;
    border-radius:5px ;
    width: 5vw;
    height:2vw ;
    margin: auto;
    font-size: 1vw;
}

#restartBtn{
    cursor: pointer;
    border-radius:5px ;
    width: 5vw;
    height:2vw ;
    margin: auto;
    font-size: 1vw;
    
}
@media (min-width:1000px) and (max-width: 1700px) {
    #image {
        margin: 13vw 38vw;
        position: relative;
        top: -59rem;
        left: -29rem;
        display: none;
        width: 19vw;
        height: 30vh;
    }
    
    
    
}
#image {
    margin: 13vw 38vw;
    position: relative;
    top: -21rem;
    left: -35rem;
    display: none;
    width: 22vw;
    height: 46vh;
}
#btn:hover{
background-color:#72344f ;
color: whitesmoke;

}
#restartBtn:hover{
background-color:#340f1f ;
color:whitesmoke ;

}
.box{
    margin: 12px 0px;
}