*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #340f1f;
    height: 100vh;
}
.size{
font-size: 1.5rem;

}
.para{
    font-size: 2rem;
}


.container {
    width: 71vw;
    background-color:  #CEA07E;
    border: 5px solid black;
    height: 50vh;
    margin:auto;
    position: relative;
    top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 17px;
}
#title{
    margin: 21px 3px;    
        font-size: 4vw;

    }
#input{
    margin: 8px 3px;
    cursor: pointer;
    width: 7rem;
    height:3rem ;
    border-radius:5px ;
    text-align: center;
    font-size: 1.5rem;
    margin: auto; 
}
#btn{
        cursor: pointer;
        border-radius: 5px;
        width: 6rem;
        height: 2.9rem;
        margin: auto;
        font-size: 1.5rem;
}

#restartBtn{
        cursor: pointer;
        border-radius: 5px;
        width: 6rem;
        height: 2.9rem;
        margin: auto;
        font-size: 1.5rem;
    
}

#image {
    margin: 13vw 38vw;
    position: relative;
    top: -21rem;
    left: -35rem;
    display: none;
    width: 22vw;
    height: 46vh;
}
#btn:hover{
background-color:#72344f ;
color: whitesmoke;

}
#restartBtn:hover{
background-color:#340f1f ;
color:whitesmoke ;

}
.box{
    margin: 12px 0px;
}
